* {
      font-family: "Lexend", sans-serif;
      font-optical-sizing: auto;
      font-style: normal;
}

a {
    color: #1B559A;
}

#app-container {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    width: 65%;
    margin: 40px auto;
}

#app-container > .tasks-container {
    width: calc(33.33% - 30px);
    position: relative;
}

.tasks-container {
    max-width: 340px;
}

.tasks-container .list-header {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    margin-bottom: 20px;
}

.tasks-container .list-header .add-task {
    cursor: pointer;
}

.tasks-container .sort-by {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}

.tasks {
    margin-top: 8px;
}

.tasks .check-box {
    width: 16px;
    height: 16px;
    background: black;
    color: white;
    margin-top: 2px;
    margin-right: 16px;
    margin-left: 4px;
}

.tasks .check-box:hover {
    background: rgba(27,85,154,1);
}

.tasks .check-box > span {
    font-size: 16px;
    display: none;
}

.tasks .check-box.checked > span {
    display: block;
}

.tasks .task-container {
    display: flex;
    padding: 12px;
    border: 1px solid black;
    margin-bottom: 15px;
    position: relative;
    background: white;
}

.high::before,
.medium::before,
.low::before
{
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 7px;
    height: 100%;
}

.high::before {
    background: #FF8484;
}

.medium::before {
    background: #FFCE84;
}

.low::before {
    background: #ABFF84;
}

.tasks .task-container:hover {
    //color: rgba(27,85,154,1);
    //border: 1px solid rgba(27,85,154,1);
    background: rgb(248,250,252);
    cursor: pointer;
}

.no-task-here {
    color: #545454;
    background: #F0F0F0;
    padding: 25px;
    font-size: 14px;
    text-align: center;
    margin-top: 42px;
}

.move-here {
    position: absolute;
    background: rgba(0,0,0,0.8);
    backdrop-filter: blur(2px);
    width: calc(100% + 30px);
    height: calc(100% + 20px);
    border-radius: 8px;
    top: -15px;
    left: -15px;
    z-index: 15;
    color: white;
    display: none;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

/* === */

#backdrop {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    backdrop-filter: blur(10px);
    background: rgba(0,0,0,0.5);
    display: none;
}

#popup {
    position: absolute;
    width: 500px;
    background: white;
    padding: 20px;
    margin-top: 40px;
    margin-left: 50%;
    transform: translateX(-50%);
    border: 1px solid black;
    display: none;
}

#popup .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

#popup .header .close span {
    font-size: 20px;
}

#popup section {
    display: flex;
    flex-direction: column;
}

#popup section label {
    font-size: 12px;
}

#popup input[type='text'],
#popup input[type='date'],
textarea, select
{
    padding: 14px 20px;
    border: 1px solid black;
    font-size: 14px;
    background: white;
}

.form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.form.two-section > section {
    width: calc(50% - 8px);
}

.form.one-section > section {
    width: 100%;
}

#popup .footer {
    margin-top: 50px;
}

.form button {
    border: 0px;
    border-radius: 0px;
    padding: 10px;
    height: 40px;
    cursor: pointer;
}

.form button:hover {
    opacity: 0.8;
}

.form button.text {
    padding-left: 12px;
    padding-right: 12px;
}

.form button.dark {
    color: white;
    background: black;
}

.form button.delete {
    color: #b51c1c;
    background: #ffe7e7;
}

.form button.delete > span {
    font-size: 18px;
}
